@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
	/*background-image: url("../img/ultimate.jpg") !important;*/
	/*-webkit-filter: blur(4px);
    filter: blur(4px);*/
    /*-webkit-filter: hue-rotate(90deg); 
    filter: hue-rotate(90deg);*/
    /*-webkit-filter: grayscale(60%);
    filter: grayscale(60%);*/
.derecha{
	margin-right: 20px !important; 
}
.bg-general{
	background-color: #B23A56;
}
nav ul li a:hover {
	background-color: #001329;
}

nav ul a {
    transition: background-color .3s;
    font-size: 1.2rem;
    color: #fff;
    display: block;
    padding: 0 15px;
    cursor: pointer;
    font-family: 'Source Code Pro', monospace !important;
}
nav .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.0rem;
    padding: 0;
    white-space: nowrap;
}
.font{
	font-family: 'Source Code Pro', monospace !important;
}
hr {
    box-sizing: content-box;
    height: 4px;
    width: 7%;
}

.blur{
	-webkit-filter: blur(2px);
    filter: blur(2px);
}


.foto{
	width: 63% !important;
	border-radius: 100%;
}
.email{
	width: 74% !important;
}

.na{
	background-image: url("../img/ultimate.jpg") !important;
}
.nb{
	background-image: url("../img/Ultim.jpg") !important;
	background-size:cover;
}
.bg-one{
	/*background: #f06292;*/
	/*background-image: url("../img/ultimate.jpg") !important;*/
	background: #000;
	opacity: .8;
}


.espacio{
	margin-top:20%;
}
.blanco{
	color: #fff;
}
.rosa{
	color: #B23A56;
}
.verde{
	color: #00bfa5 !important;
}
.titulo{
	font-size: 2.5em;	
}
.font-1{
	font-size: 2.4em;

}
.font-2{
	font-size: 1.3em;
}
.font-3{
	font-size: 0.9em !important;
}

.espacio-2{
	margin-top:5%;
}
.espacio-1{
	margin-top:10%;
}
.img-tres{
	width: 700px;
	height: 466px;
}

.progress {
    position: relative !important;
    height: 14px !important;
    display: block !important;
    width: 100% !important;
    background-color: #fff !important;
    border-radius: 2px !important;
    margin: 0.5rem 0 1rem 0;
    overflow: hidden !important;
}

li{
	display:inline-block;
}

.fondo{
	background-image: url("../img/tile2.png");
}

@media screen and (max-width: 780px){
	.titulo{
        font-size: 1.6em !important;
	}
	.font{
	font-size: 1em;
	}
	.font-1{
	font-size: 1em;
	}

	.responsive{
		width: 40% !important ;
	}
	.foto{
		width: 100% !important;
	}
}

@media screen and (max-width: 480px){
	video{
		width: 100%;
	}
	.titulo{
        font-size: 1.4em !important;
	}
	.font{
	font-size: .9em;
	}
	.font-1{
	font-size: 1.5em;
	}
	.font-2{
		font-size: .9em;
	}
	.responsive{
		width: 30% !important ;
	}
	.abajo{
		width: 100%;
	}
	.foto{
		width: 90%;
	}
	.divider{
		width: 30%;
	}

}